@charset "utf-8";

body{
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","ほのか丸ゴシック","07やさしさアンチック","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS P Gothic",sans-serif;
}

/*
.html{
    font-family: sans-serif, serif, monospace;
}
*/



#s_inputbutton{
    float: left;
    margin: 40px;
    text-align: center;
}

#footerlogo{
    text-align: center;
}

#news_show{
    width: 500px;
    margin: 0 auto;
}

#submit-i{
    float: left;
    width: 150px;
    position: relative;
    top: 10px;
    bottom: 30px;
    left: 300px;
}

#submit-s{
    float: right;
    width: 150px;
    position: relative;
    top: 10px;
    bottom: 30px;
    right: 300px;
}

#dltcolor{
    background-color: gainsboro;
}

.hyouji-area{
    width: 960px;
    margin: 0 auto;
}

.pur-label{
    float: left;
}

.text-count1{
    float: right;
    padding-bottom: 50px;
}

.form1{
    float: left;
}

.j-button{
    text-align: center;
    margin: 0 auto;
    margin-left: 50%;
}

#cont_show{
    width: 960px;
    margin-top: 50px
}

#input-article{
    width: 960px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#input-news{
    width: 960px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}